<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      id="icon-boxes"
      class="p-5">
<head>
    <title>Add Recipe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!--for local-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/5.1.3/dist/css/bootstrap.min.css}">
    <!--still included though handled above-->
    <th:block th:include="fragments/webjars :: head-bs"></th:block>
</head>

<body>
<th:block th:include="fragments/nav-bar ::nav-bar"></th:block>

<div class="container-fluid" style="margin-top: 20px">
            <form  th:object="${recipe}" th:action="@{/recipe/}"  method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="card-group col-md-8 m-md-auto">
                    <div class="row col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">Edit Recipe Information</h1>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <label>Recipe Description:</label>
                                    <input type="text" class="form-control" th:field="*{description}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <label>Categories:</label>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 1
                                        </label>
                                    </div>
                                    <div class="radio" th:remove="all">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 2
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label>Prep Time:</label>
                                    <input type="text" class="form-control" th:field="*{prepTime}"/>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label>Cooktime:</label>
                                    <input type="text" class="form-control" th:field="*{cookTime}"/>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label>Difficulty:</label>
                                    <select class="form-control">
                                        <option>Easy</option>
                                        <option>Medium</option>
                                        <option>Hard</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label>Servings:</label>
                                    <input type="text" class="form-control" th:field="*{servings}"/>
                                </div>
                                    </div>
                            <div class="row">
                                <div class="form-group">
                                    <label>Source:</label>
                                    <input type="text" class="form-control" th:field="*{source}"/>
                                </div>
                                <div class="form-group">
                                    <label>URL:</label>
                                    <input type="text" class="form-control" th:field="*{url}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row col-sm-12">
                    <div class="card">
                            <div class="row">
                                <div class="card-body">
                                <div class="">
                                    <h1 class="card-title">Ingredients</h1>
                                </div>
                                <div class="row col-md-6 m-sm-auto">
                                    <a class="btn btn-primary" href="#" role="button">Edit</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="">
                                    <ul>
                                        <li th:remove="all">1 Cup of milk</li>
                                        <li th:remove="all">1 Teaspoon of chocolate</li>
                                        <li th:each="ingredient : ${recipe.ingredients}"
                                            th:text="${(ingredient.getAmount() +
                                        ' ' + ingredient.uom.getDescription() +
                                        ' - ' + ingredient.getDescription())}">1 Teaspoon of Sugar
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row col-sm-12">
                    <div class="card" >
                        <div class="card-body">
                            <h1 class="panel-title">Directions</h1>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{directions}"></textarea></div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row col-sm-12">
                    <div class="card" >
                        <div class="card-body">
                            <h1 class="panel-title">Notes</h1>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{note.recipeNote}"></textarea>
                                </div>
                            </div>
                            <div class="row col-sm-6 m-sm-auto">
                                <button type="submit" class="btn btn-primary col-md-12">Submit</button>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </form>
        </div>

</body>
<!--for local-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous" th:src="@{/webjars/bootstrap/5.1.3/dist/js/bootstrap.min.js}" ></script>
<!--Still included though handled above-->
<th:block th:include="fragments/webjars.html :: script-bs"></th:block>
</html>






